#index_body {
  background-image: url("./images/my-kerala.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  margin: 0%;
}

#my-kerala {
  width: 100%;
  margin-top: 100px;
}

#content {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vw;
  font: 300 bolder;
  width: 30%;
  margin-left: 50px;
}

#leftover {
  width: 70%;
}

#btngo {
  background-color: skyblue;
  font-size: xx-large;
  margin-left: 250px;
  font-weight: 600;
  border-radius: 10%;
  padding: 0px 10px 10px 10px;
}

.reg {
  margin: auto;
  width: 98%;
  border-radius: 10px;
  background-image: linear-gradient(
    90deg,
    rgb(220, 206, 206),
    rgb(181, 197, 220)
  );
}


#Visit {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-style: bolder;
  color: rgb(9, 84, 34);
  position: relative;
  left: 30%;
  top: 15px;
}

.reg table{
  width: 80%;
  position: relative;
  margin: auto;
 border: 0.1px rgb(80, 78, 78) solid;
 border-radius: 5px;
 background-image:linear-gradient(90deg,rgb(229, 219, 219),rgb(228, 231, 237))

}
.place_details{
  width: 70%;
  padding: 5px;
}
.place_title{
  padding: 0% 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font: 400 solid;
  color:darkgreen;
  margin-bottom: 10px;

}
.place_data{
  color:darkblue;
}
.place_image{
  width: 30%;
  padding: 5px;

}
